.sport-img {
  width: 40%;
  margin: auto;
}

.flex-container {
  display: flex;
}

.sports-nav {
  width: 30%;
}

.sports-nav li {
  list-style-type: none;
}

.sports-main {
  width: 40%;
  text-align: center;
}